<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="QFeatureNum" value="3"></add>
    <add key="TFeatureNum" value="3"></add>
    <add key="Max_Iter" value="10"></add>
    <add key="LearningRate" value="0.01"></add>
    <add key="Lamda" value="0.001"></add>
    <add key="StopGap" value="0.0"></add>
    <add key="Decay" value="1."></add>
  </appSettings>
</configuration>